.logo{
    display:block; 
    margin-left:auto;
    margin-right:auto;
    margin-top:12%;
    text-align:center;
  }
  #searchbar{
    width:482px;
    margin-top:20px;
    height:40px;
    border-radius:24px;
    border:solid 1px;
    border-color:#dfe1e5;
    outline:none;
    font-size: 20px;
    padding-left:5px;
  }
  .buttons{
    margin-top:1%;
  }
  button{
    background-color:#f2f2f2;
    border-radius:4px;
    padding:2px 16px;
    font-size:14px;
    margin:10px 4px;
    height:36px;
    color:#5F6368;
    border:none;
  }
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .top{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font:13px arial;
  }
  .left{
    float:right;
  }
  .footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
  }
  .bottom{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font:13px arial;
  }
  .right{
    float:right;
  }